# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Mac OS system files
.DS_Store

# Ignore compiled JavaScript files
*.js.map

# Ignore Dockercompose files
Dockerfile
compose.yaml

# Ignore user data
contacts.csv

# Credentials and OAuth tokens
credentials.json
token.json
authorize.js
refreshToken.js
auth.js
auth_.js
fileID.js