<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Giedd Enterprise Tree Service - Veteran Owned and Serving North Mississippi since 2021. Offering 
    exceptional tree removal, pruning, stump grinding, and government contract work.<a href='#contact'> Contact us</a> today for personalized service tailored 
    to your needs.">
    <title>Giedd Enterprise Tree Service</title>
    <link rel="icon" href="/img/favicon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="canonical" href="https://tupelotree.services">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/parallax.js"></script>
</head>
<div class="sample-header">
    <!-- Load the stylesheet that will reference the LCP image. -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet. -->
    <link rel="preload" fetchpriority="high" as="image" href="../img/IMG_20240415_090545458.webp" type="image/webp">
    <div class="sample-header-section">
    <img src="./img/headerpic.png" alt="Giedd Enterprise Logo">
    <h1>Giedd Enterprise Tree Service</h1>
    <h2>Veteran Owned, Serving North Mississippi Since 2021</h2>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#govt">Government Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    </div>
</div>
<body>
    <div class="sample-section-wrap">
        <div class="sample-section">
            <section id="about">
                <div class="container">
                    <h2>About Us</h2>
                    <p>Giedd Enterprise Tree Service has been serving North Mississippi with pride and dedication since 2021. We are your trusted local partner for all 
                       your tree service needs. With our commitment to excellence and personalized service, we strive to deliver exceptional results and make a positive
                       impact on our community.</p>
                    <p>At Giedd Enterprise, we understand the unique needs and values of North Mississippi. We are experienced professionals who take the time to
                       listen to your specific requirements and tailor our services to meet your expectations. <a href="#contact">Make a request</a> today, we have you covered!</p>
                    <p><b>Why choose Giedd Enterprise Tree Service?</b></p>
                    <ul>
                        <li>Local Expertise: As a business rooted in North Mississippi, we are familiar with the region's culture, environment, and needs. We are
                            dedicated to providing solutions that resonate with our community.</li><br>
                        <li>Exceptional Quality: We hold ourselves to the highest standards of quality and craftsmanship, ensuring that you receive top-notch service
                            every time.</li><br>
                        <li>Personalized Service: Your satisfaction is our priority. We take a personalized approach to every project, offering customized solutions that
                            fit your specific needs.</li><br>
                        <li>Reliability and Trust: Our reputation is built on trust and reliability. We strive to exceed your expectations and earn your confidence with
                            every interaction.</li>
                    </ul>
                    <img src="./img/vosb.png" alt="veteran owned small business logo">
                </div>
            </section>
            <section id="services">
                <div class="container">
                    <h2>Our Services</h2>
                    <ul>
                        <li><b>Tree Removal</b></li>
                        <li><b>Pruning</b></li>
                        <li><b>Stump Grinding</b></li>
                        <li><b>Disaster Relief</b></li>
                        <li><b>Debris Hauling</b></li>
                        <li><b>Right of Way clearing</b></li>
                        <li><b>Government contract work</b></li>
                        <li><b>Cabling and Bracing</b> (<em>please inquire</em>)</li>
                    </ul>
                </div>
            </section>
            <div class="scroll-container">
                <img src="img/IMG_20230607_205823.webp" alt="Rigging Large Tree" width="300">
                <img src="img/IMG_20230622_121454091.webp" alt="Hauling Large Rounds" width="300">
                <img src="img/IMG_20230509_140535144.webp" alt="Hauling Wood Chips" height="400" loading="lazy">
                <img src="img/IMG_20230107_084911122.webp" alt="Stump Grinding" width="300" loading="lazy">
                <img src="img/IMG_20230106_101319809_HDR.webp" alt="Disaster Recovery" height="400" loading="lazy">
                <img src="img/IMG_20230412_113345570.webp" alt="Felled Large Oak" height="400" loading="lazy">
                <img src="img/IMG_20230629_134523635_HDR.webp" alt="Stump Grinding" height="400" loading="lazy">
                <img src="img/IMG_20231116_142222933.webp" alt="Wind Storm Fallen Tree" height="400" loading="lazy">
                <img src="img/IMG_20231117_140501645_HDR.webp" alt="WInd Damaged Tree Hauled Away" width="300" loading="lazy">
                <img src="img/IMG_20231201_094401532.webp" alt="Stacking Cords of Wood" height="400" loading="lazy">
                <img src="img/IMG_20221215_160942100_HDR.webp" alt="Precise Tree Falling" height="400" loading="lazy">
                <img src="img/IMG_20230110_085959628_HDR.webp" alt="Hauling Large Rounds" width="300" loading="lazy">
            </div>
            <section id="govt">
                <div class="container">
                    <h2>Government Services</h2>
                    <p>At Giedd Enterprise, we understand the unique needs and expectations of government agencies. Our business is equipped to support government
                        contract work in various ways, providing valuable services and expertise to help agencies achieve their goals efficiently. Here's how we can 
                        assist you:</p>
                    <ul>
                        <li><b>Compliance with Regulations:</b> We strictly adhere to government regulations and standards, ensuring
                            ethical practices, transparency, and integrity in all our work.</li>
                        <li><b>Expertise in Specialized Areas:</b> Our team offers niche services and specialized knowledge that can 
                            make a significant impact on government projects, adding value and ensuring success.</li>
                        <li><b>Quality Assurance and Safety Standards:</b> We prioritize quality and safety in every project. Our 
                            rigorous quality assurance and safety measures guarantee reliable services and products that meet government standards.</li>
                        <li><b>Timely Delivery and Performance:</b> Meeting strict timelines is crucial in government contracts. We 
                            pride ourselves on delivering services and products on time, ensuring projects are completed according to 
                            schedule.</li>
                        <li><b>Cost-Effective Solutions:</b>  We provide competitive pricing and efficient resource management to offer 
                            cost-effective solutions without compromising quality, helping government agencies optimize their budgets.</li>
                        <li><b>Ability to Scale:</b> Our business can scale up or down as needed, adapting to the requirements of 
                            different projects, whether large or small in scope.</li>
                        <li><b>Strong Communication and Reporting:</b> Clear communication and regular reporting are essential for 
                            successful collaboration. We maintain open lines of communication with government representatives and provide detailed updates on project progress.</li>
                        <li><b>Past Performance and References:</b> We have a successful track record of completing government contracts and are happy to provide references and case studies to demonstrate our capabilities.</li>
                        <li><b>Diverse Supplier Status:</b>  We qualify as a diverse supplier, veteran and minority-owned, helping 
                            government agencies meet diversity goals.</li>
                        <li><b>Collaboration and Partnerships:</b> Our strong relationships with other businesses and subcontractors 
                            enable us to take on larger or more complex government projects, providing additional resources and expertise.</li>
                    </ul>
                    <p>At Giedd Enterprise, we're positioned as a strong candidate for government contract work, 
                        contributing to the success of government projects while supporting the needs of your community. Let us partner 
                        with you to achieve your agency's goals efficiently and effectively. <a href="#contact">Contact us</a> today to learn more about how 
                        we can support your next project.</p>
                </div>
            </section>
            <%- include('contact', { errors: errors, formData: formData }) %>
        </div>
        <div id="tracking-notice" class="tracking-notice">
            This site is protected by reCAPTCHA and the Google 
            <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and 
            <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
            <button id="close-notice" class="close-notice">Got it</button>
        </div>
                    
        <script>
            document.getElementById('close-notice').onclick = function() {
            document.getElementById('tracking-notice').style.display = 'none';
            };
        </script>
          
        <footer>
            <p>Copyright &#169 Giedd Enterprise LLC <script>document.write(new Date().getFullYear())</script></p>
        </footer>
    </div>
</body>
<script>
  <% if (typeof scrollToContact !== 'undefined' && scrollToContact) { %>
    window.location.hash = '#contact';
  <% } %>
</script>
</html>